@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: clamp(0.8rem, 1rem, 4rem);
    background-color: var(--Very-light-gray);
    padding: 5vw 10vw;
    text-align: left;
    font-family: 'Lexend Deca';
    font-weight: 400;
    color: var(--Very-light-gray);
    display: flex;
    align-items: center;
}

.container {
    height: clamp(50vh ,60vh, 80vh);
    width: clamp(60vw ,80vw, 100vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.card {
    height: 100%;
    padding: 3rem 3.1rem 3rem 2.8rem;

    & .title {
        font-family: 'Big Shoulders Display';
        font-weight: 700;
        font-size: clamp(2.8rem, 2.8rem, 10rem);
        text-transform: uppercase;
        color: var(--Very-light-gray);
        margin-top: 2.5rem;
    }

    & .paragraph {
        color: var(--Transparent-white);
        line-height: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

    & .botao_learn_more {
        width: 9.1rem;
        height: 3rem;
        background-color: var(--Very-light-gray);
        border-radius: 2rem;
        border: none;
        text-transform: capitalize;
        font-weight: 700;
        cursor: pointer;
        transition: 1s;
    }

    & .botao_learn_more:hover {
        color: white;
        background-color: rgba(240, 248, 255, 0);
        border: 2px solid var(--Very-light-gray);
    }
}

#number-1 {
    background-color: var(--Bright-orange);

    & .botao_learn_more:not(:hover) {
        color: var(--Bright-orange);
    }
}

#number-2 {
    background-color: var(--Dark-cyan);

    & .botao_learn_more:not(:hover) {
        color: var(--Dark-cyan);
    }
}

#number-3 {
    background-color: var(--Very-dark-cyan);

    & .botao_learn_more:not(:hover) {
        color: var(--Very-dark-cyan);
    }
}
@media only screen and (max-width: 1025px) {
    body {
        width: 100vw;
        height: auto;
        padding: 10vw;
    }

    .container {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        /* margin-bottom: 20vh; */
    }
}

@media only screen and (max-width: 450px) {
    body {
        width: 100vw;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 100%;
        margin: 15vh 5vw;
        height: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }

    .container .card {
        width: 100%;
        height: auto;
        padding: 3rem 2rem 3rem 3.5rem;
    }

    .container .card .paragraph {
        margin-bottom: 1.75rem;
        width: clamp(60%, 70%, 80%);
    }
}